<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Create a POLL</title>
    <%- include ../partials/styles.ejs %>
</head>

<body>

    <%- include ../partials/header.ejs %>

        <main>

            <div class="col-md-4" id="createPoll">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <div class="form-group">
                                <label for="userPollDesc"><h4>Enter POLL Description</h4></label>
                                <input type="text" class="form-control" id="userPollDesc" placeholder="Describe your POLL">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="userPollDesc"><h4>Enter POLL options</h4></label>
                            </div>
                            <div id="moreOptions">
                                <input type="text" class="form-control" id="options" placeholder="Enter Option detail">
                                <input type="text" class="form-control" id="options" placeholder="Enter Option detail">
                            </div>
                            <div class="form-group" style="margin-top:20px;">
                                <button href="#" id="addOption" class="btn btn-primary btn-lg btn-block">Add option</button>
                            </div>
                            <br>
                            <div class="form-group">
                                <button id="submitCreatedPoll" class="btn btn-success btn-lg btn-block">CREATE POLL</button>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" id="voteForPoll">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                    <div class="form-group">
                                        <h4></h4>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <select class="form-control" id="select">
                                        </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <button id="submitPollResult" class="btn btn-primary btn-lg btn-block">VOTE</button>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>

            <div class="col-md-4" id="pollResults">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <canvas id="PollGraphResult"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <%- include ../partials/scripts.ejs %>
</body>

</html>
